<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ayushsrivastava.arc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:name=".FirebaseArc"
        android:allowBackup="true"
        android:icon="@drawable/arc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/arc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity$applytext"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainActivityLogin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".ArcNotificationService" android:exported="false">

        </service>
        <service android:name=".ArcDownloadService" android:exported="false" />

        <receiver android:name=".ArcNotificationReciever">
            <intent-filter>
                <action android:name="com.example.ayushsrivastava.arc"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NetworkStateChangeReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="ARC : Overview"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profileactivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".about" android:screenOrientation="portrait" />
    </application>

</manifest>